.basic{
    padding: 13px 34px;
    margin: 6px;
    color: hsl(0,0%,100%);
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    box-shadow:hsla(0, 0%, 0%, 0.17) 0px 2.33787px 5.67574px 0px;
    border-radius: 2px;
    border: none;
}

.basic-primary{
    background-color: #4387f4;
}

.basic-danger{
    background-color: #ff3344;
}

.basic-warning{
    background-color:#ffbb33;
}

.basic-info{
    background-color: #34b5e5;
}

.basic-secondary{
    background-color: #aa66cc;
}

.basic-success{
    background-color: #00c750;
}

.basic-default{
    background-color: #2abbad;
}