nav.gridNav {
  width: 100%;
  height: 5vh;
  background-color: black;
  height: auto;
  padding: 15px 0;
  color: white;
  box-sizing: border-box;
}
nav.gridNav li a.active {
  border-bottom: 3px solid red;
}
nav.gridNav li a {
  padding: 8px;
  color:inherit;
}
nav.gridNav li a:hover {
  background-color: gray;
}

nav.gridNav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
/* nav.gridNav ul li {
    margin: 5px 10px;
  } */
@media screen and (max-width: 840px) {
  nav.gridNav ul li:nth-child(even) {
    order: 1;
    flex-basis: 24%;
  }

  nav.gridNav ul li:nth-child(odd) {
    order: 2;
    flex-basis: 24%;
  }
}
