nav.NavbarResponsive {
  width: 100%;
  height: 5vh;
  background-color: black;
  height: auto;
  padding: 15px 25px;
  box-sizing: border-box;
}
nav.NavbarResponsive li a.active {
  border-bottom: 3px solid red;
}
nav.NavbarResponsive ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}
nav.NavbarResponsive ul li {
  margin: 5px 10px;
}
nav.NavbarResponsive ul li.menu {
  display: none;
  font-size: 22px;
}
nav.NavbarResponsive ul li.logo {
  text-align: center;
  
  flex: 1;
  /* order: 1; */
}
nav.NavbarResponsive ul li.button {
  background-color: red;
  padding: 8px 16px;
  /* order: 2; */
}
a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 968px) {
  nav.NavbarResponsive ul li.item {
    width: 100%;
    text-align: left;
    order: 3;
    display: none;    
  }
  nav.NavbarResponsive ul li.menu {
    display: block;
  }
  nav.NavbarResponsive ul li.drop {
      display: block;
  }
}
@media screen and (max-width: 480px) {
  nav.NavbarResponsive ul li.button {
    display: none;
  }
}
