.round{
    padding: 13px 34px;
    margin: 6px;
    color: hsl(0,0%,100%);
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    box-shadow:hsla(0, 0%, 0%, 0.17) 0px 2.33787px 5.67574px 0px;
    border-radius: 100px;
    border: none;
}

.round.primary{
    background-color: #4387f4;
}

.round.danger{
    background-color: #ff3344;
}

.round.warning{
    background-color:#ffbb33;
}

.round.info{
    background-color: #34b5e5;
}

.round.secondary{
    background-color: #aa66cc;
}

.round.success{
    background-color: #00c750;
}

.round.default{
    background-color: #2abbad;
}