/* .col-3,.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3,  .col-2,
.col-sm-2,
.col-md-2,  .col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.col-lg-2,
.col-xl-2,  .col-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6
{
float: left;
position: relative;
} */
/* .col-1,.col-sm-1,.col-md-1,.col-lg-1 {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
} */
/* .col-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3 {
    padding: 0 15px;
    width: 25%;
  }
  .col-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xl-2 {
    padding: 0 15px;
    width: 16,6%;
  }
  .col-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xl-4 {
    padding: 0 15px;
    width: 33.3%;
  }
  .col-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xl-6 {
    width: 50%;
}
@media screen and (max-width: 1140px) {
  .col-xl-3,
  .col-xl-4,
  .col-xl-2,
  .col-xl-6 {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .col-lg-3,
  .col-lg-2,
  .col-lg-4,
  .col-lg-6 {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .col-md-3,
  .col-md-2,
  .col-md-4,
  .col-md-6 {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .col-sm-3,
  .col-sm-2,
  .col-sm-4,
  .col-sm-6 {
    width: 100%;
    display: block;
  }
} */

.row {
  display: flex;
  flex-direction: column;
  padding: 0;                  
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  justify-content: center;  
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column-top {
  align-self: flex-start;
}

.row .column .column-bottom {
  align-self: flex-end;
}

.row .column .column-center {
  -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}
