.hovercard {
    background-size: cover;
    overflow: hidden;
   transition: all .5s ease-out;   
   width :90%;
   margin: 8px 0;

}
.hovercard:hover {
    box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.71);
    transition: box-shadow 400ms;
}